[defaults]
inventory = inventory/
roles_path = roles/
host_key_checking = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/sylion-ansible-cache
fact_caching_timeout = 3600
retry_files_enabled = False
forks = 5
stdout_callback = yaml
display_skipped_hosts = False
display_ok_hosts = True
nocows = 1

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
